version: '3'
services:
  # host with cross compilers
  build-host:
    image: elijahru/distcc-cross-compiler-host-{{ distro_slug }}:v0.5.1-amd64
    ports:
      - 3704:3704 # amd64
      - 3707:3707 # arm32v7
      - 3708:3708 # arm64v8
  {% for arch in archs %}
  {% for nim_version in nim_versions %}
  {{ nim_version | image_slug(distro_slug, arch) }}:
    image: elijahru/nim:{{ nim_version | image_slug(distro_slug, arch) }}
    command: /bin/bash
  {% endfor %}
  {% endfor %}
